.preloader {
    position: absolute;
    background: rgba(255, 255, 255, 0.64);
    z-index: 2;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.img {
    width: 50px;
    height: 50px;
}
